attrs==25.1.0
-e git+ssh://git@github.com/kik369/docker-web-interface.git@655b1401d7f5c2c69186bb25adf2df657dc2100a#egg=backend&subdirectory=backend
bidict==0.23.1
blinker==1.9.0
build==1.2.2.post1
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.12
distlib==0.3.9
dnspython==2.7.0
docker==7.1.0
eventlet==0.39.0
filelock==3.17.0
Flask==2.2.5
Flask-Cors==4.0.2
Flask-SocketIO==5.5.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
identify==2.6.8
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2>=3.1.6
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==24.2
pip-tools==7.4.1
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
prometheus_client==0.21.1
pyproject_hooks==1.2.0
pytest==7.4.3
pytest-cov==4.1.0
pytest-dependency==0.5.1
pytest-docker==2.0.1
pytest-flask==1.2.0
pytest-mock==3.12.0
pytest-socket==0.6.0
python-dotenv==0.19.0
python-engineio==4.11.2
python-json-logger==3.2.1
python-socketio==5.12.1
PyYAML==6.0.2
requests==2.32.3
simple-websocket==1.1.0
typing_extensions==4.0.1
urllib3==2.3.0
virtualenv==20.29.2
Werkzeug==3.0.6
wsproto==1.2.0
