-e git+ssh://git@github.com/kik369/docker-web-interface.git@655b1401d7f5c2c69186bb25adf2df657dc2100a#egg=backend&subdirectory=backend
bidict==0.23.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.12
dnspython==2.7.0
docker==7.1.0
eventlet==0.35.2
Flask==2.2.5
Flask-Cors==4.0.2
Flask-SocketIO==5.3.6
greenlet==3.1.1
gunicorn==22.0.0
h11==0.14.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
pytest-cov==6.0.0
python-dotenv==0.19.0
python-engineio==4.11.2
python-json-logger==3.2.1
python-socketio==5.12.1
requests==2.32.3
simple-websocket==1.1.0
typing_extensions==4.0.1
urllib3==2.3.0
Werkzeug==3.0.6
wsproto==1.2.0
